@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Numan M</h1>
    <p> Library Management Application <a href="https://NumansLibraryManagmentSystem.com"> LMS4 </a>.</p>
</div>
